<div class="sidebarMain">
  <img src="assets/securty_logo.png" class="sidebarImage">

  <button class="sidebarButton" (click)="onDashboardButtonPressed()">Dashboard</button>
  <button class="sidebarButton" (click)="onHistoryButtonPress()">HistoryModel</button>
  <button class="sidebarButton" (click)="onSettingsButtonPressed()">Settings</button>
  <div class="toggle-switch" #toggleSwitch>
    <div class="toggle-knob"></div>
  </div>
  <button type="logoff" class="sidebarButton" (click)="Logoff()"> Sign out</button>
</div>


<div id="settingsModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="onModalClosePressed()">&times;</span>
    <p>Color Codes:</p>
    <div [style.display]="'flex'">
      <div class="status-circle" [style.border-color]="'green'"></div>
      <p>Green indicates alarm is armed.</p>
    </div>
    <div [style.display]="'flex'">
      <div class="status-circle" [style.border-color]="'yellow'"></div>
      <p>Yellow indicates a unit is open.</p>
    </div>
    <div [style.display]="'flex'">
      <div class="status-circle" [style.border-color]="'red'"></div>
      <p>Red indicates an alarm is triggered.</p>
    </div>
    <p>Change Pin:</p>
    <input type="password"  placeholder="Pin kode" maxlength="4">
    <p>Email list for notifications:</p>
    <p></p>
    <p>Dark mode:</p>
    <div class="toggle-switch" #toggleDarkmode>
      <div class="toggle-knob">
        <p class="knob-icon">&#9728;</p>
      </div>
    </div>
  </div>
</div>
