<header>
  <h1>Here is your latest history: </h1>
</header>

<div>
  <input type="text" placeholder="Search" [formControl]="searchControl">
</div>
<div *ngFor="let historyItem of filteredHistory$ | async">
  <div class="theActualHistory">
    <h3>{{ historyItem.unit.name }}</h3>
    <p>{{ "Day: " + historyItem.date.toDateString() + ", Time: " + historyItem.date.getHours() }}</p>
    <p>{{ "Status: " + Status[historyItem.unit.status] }}</p>
    <p>{{ "Card scanned: " + historyItem.personName}}</p>   <!--somehow get the person-name here !?!?!?!??!?!?!-->
  </div>
</div>
