<header>
  <h1 id="historyHeadline">Here is your latest history: </h1>
</header>

<div>
  <input type="text" placeholder="Search" [formControl]="searchControl">
</div>
<div *ngFor="let historyItem of ShownHistory$ | async">
  <div class="theActualHistory">
    <h3>{{ historyItem.unit.name }}</h3>
    <p>{{ "Day: " + historyItem.date.toDateString() + ", Time: " + historyItem.date.getHours() }}</p>
    <p>{{ "Status: " + EventType[historyItem.eventType] }}</p>
    <p>{{ "Card scanned: " + historyItem.personName}}</p>
  </div>
</div>
