div {
  border: 1px red solid;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
