<div class="headDiv">
  <div class="menuOpener" (click)="toggleSidebar()">
    <img src="assets/hamburger.png" class="sidebarImage">
  </div>
  <app-sidebar class="sidebar" [class.open]="!sidebarOpen"></app-sidebar>
  <div class="vertical-line"></div>
  <div class="overview">
    <app-overview [unitType]="UnitType.Doors" id="doorOverview"></app-overview>
    <app-overview [unitType]="UnitType.Windows" id="windowOverview"></app-overview>
    <app-overview [unitType]="UnitType.MotionSensor" id="motionSensorOverview"></app-overview>
  </div>
</div>
